name: CI Checks
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - "v*"
jobs:
  format-check:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ^1.25
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
      - name: Run Format Check
        run: make check-format
      - name: Vet
        run: go vet ./...
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
      - name: Lint
        uses: golangci/golangci-lint-action@v9
  test:
    needs:
      - format-check
      - lint
    name: Test Application
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ^1.25
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
      - name: Check Go version
        run: go version
      - name: Download dependencies
        run: go mod tidy
      - name: Run Test
        run: make test
      - name: Coverage Check
        run: make coverage
      - name: Generate Report
        run: make report
      - name: Copy Files
        run: |
          mkdir reports
          cp cover.html reports/.
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: reports
  build:
    name: Build App
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version: ^1.25
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
      - name: Build
        run: make build
      - name: Copy Files
        run: |
          mkdir  artifacts
          cp api artifacts/.
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: api
          path: artifacts
  deliver:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Download binary
        uses: actions/download-artifact@v6
        with:
          name: api
      - name: Changelog
        uses: scottbrenner/generate-changelog-action@master
        id: Changelog
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            ${{ steps.Changelog.outputs.changelog }}
          draft: false
          prerelease: false
      - name: Upload Release Binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: api
          asset_name: api
          asset_content_type: application/octet-stream
  deploy-function:
    name: Deploy FaaS
    runs-on: ubuntu-latest
    needs: test
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.gcp_credentials }}
      - name: Deploy function
        id: deploy
        uses: google-github-actions/deploy-cloud-functions@main
        with:
          name: translate
          entry_point: Translate
          runtime: go125
          project_id: "ci-cd-387613"
          region: "europe-west1"
      - id: test
        run: curl "${{ steps.deploy.outputs.url }}/hello"
  deploy-paas:
    name: Deploy PaaS
    runs-on: ubuntu-latest
    needs: test
    if: false
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.gcp_credentials }}
      - name: Deploy App
        id: deploy
        uses: google-github-actions/deploy-appengine@v3
        with:
          project_id: "ci-cd-387613"
          deliverables: app.yaml
          promote: true
          flags: "--ignore-file=.gcloudignore"
      - id: test
        run: curl "${{ steps.deploy.outputs.url }}/hello"
  deploy-container:
    name: Deploy Container buildpack
    runs-on: ubuntu-latest
    needs: containerize-buildpack
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    steps:
      - name: Auth to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.gcp_credentials }}
      - name: Deploy to CaaS
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v3
        with:
          service: translate
          image: europe-west1-docker.pkg.dev/ci-cd-387613/containers/hello-api:latest
      - id: test
        run: curl "${{ steps.deploy.outputs.url }}/hello"
  containerize-buildpack:
    name: Build Container buildpack
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
      - name: Setup-Tools
        uses: buildpacks/github-actions/setup-tools@v5.1.0
      - name: Setup-Pack
        uses: buildpacks/github-actions/setup-pack@v5.1.0
      - name: Build
        run: pack build europe-west1-docker.pkg.dev/ci-cd-387613/containers/hello-api:latest --builder gcr.io/buildpacks/builder:google-22
      - name: Auth Cloud SDK
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.gcp_credentials }}
      - name: Configure Docker
        run: gcloud auth configure-docker europe-west1-docker.pkg.dev --quiet
      - name: Push Docker image to GCP
        run: docker push europe-west1-docker.pkg.dev/ci-cd-387613/containers/hello-api:latest
      - name: Log in to the GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Tag for Github
        run: docker image tag europe-west1-docker.pkg.dev/ci-cd-387613/containers/hello-api:latest ghcr.io/jgrecu/hello-api:latest
      - name: Push Docker image to GHCR
        run: docker push ghcr.io/jgrecu/hello-api:latest
  containerize:
    name: Build Containers
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
      - name: Build Min
        run: docker build -t ghcr.io/jgrecu/hello-api:min .
      - name: Build Dev
        run: docker build -t ghcr.io/jgrecu/hello-api:dev --target=dev .
      - name: Log in to the GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push Docker min image to GHCR
        run: docker push ghcr.io/jgrecu/hello-api:min
      - name: Push dev image to GHCR
        run: docker push ghcr.io/jgrecu/hello-api:dev
